<%if result == nil%>
<p>User does not exist</p>
<a href="/">Back</a>
<%else%>
<a href="/">Back</a>
<div class="nameholder">
<h1><%=id%></h1>
<%if $curruser != nil%>
<%if followed != nil%>
<a href="/unfavorite/<%=id%>">Unfavorite</a>
<%else%>
<a href="/favorite/<%=id%>">Favorite</a>
<%end%>
<%else%>
<p>Must be logged in to follow!</p>
<%end%>
<h2>Favorited: <%=followers%></h2>
<h3><%=result[0]%></h3>
</div>
<div class="stats">
<%result.each_with_index do |i, x|%>
	<%if x == 0%>
	<%next%>
	<%end%>
	<div class="stat">
		<img src=<%="/img/"+stats[x].to_s + "-icon.webp"%> alt=<%=stats[x]%>> 
		<p><%=i%></p>
	</div>
<%end%>
<%end%>
</div>
